<br>
<div class="container">

	<div class="card mb-3 text-white" style="background-color: black">
	  <div class="row no-gutters">
	    <div class="col-md-5">
    	  <%= image_pack_tag 'image1.jpg', style:"max-height:336px"%>
	    </div>

	    <div class="col-md-7" style="padding-left: 110px">
	      <div class="card-body">
	      	<h5 class="card-title fs-4"><b>Who we are:</b></h5>
	        <p class="card-text fs-4" style=" text-align: justify;"> Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
			<br>
			<p class="card-text" style="text-align:end;"><small class="text-muted fs-4">Sun Dance Services</small></p>	        
	      </div>
	    </div>
	  </div>
	</div>




	<div class="card mb-3 text-white" style="background-color: black">
	  <div class="row no-gutters">
	    

	    <div class="col-md-7">
	      <div class="card-body">

	        <h5 class="card-title fs-4"><b>We pride ourselves on:</b></h5>
	        <ul class="fs-4" style="text-align:justify;">
        		<li>Our ability on forming lasting relationships with our clients.</li>
        		<li>Using our team’s many years of joint experience as change management specialists to build confidence as we partner with you to add value to your business.</li>
        		<li>Creating innovative solutions, based on real data and knowledge we help your business co-design flexible and long lasting solutions.</li>
        	</ul>
				<p class="card-text" style="text-align:end;"><small class="text-muted fs-4">Sun Dance Services</small></p>        
	      </div>
	    </div>

	    <div class="col-md-5">
    	  <%= image_pack_tag 'image2.jpg', style:"max-height:330px"%>
	    </div>


	  </div>
	</div>
 



	<div class="card mb-3 text-white" style="background-color: black">
	  <div class="row no-gutters">
	    
	    <div class="col-md-12" style="padding-right: 40px">
	      <div class="card-body" style=" text-align: justify;">
	        <h5 class="card-title fs-4"><b>Our Services:</b></h5>
	        	<div class="container">
				  <div class="row">

				    <div class="col-sm-3">
				    	<div class="row">
				    		<p class="text-center fs-3">Marketing <br> Consultancy</p>
				    	</div>
				    	<div class="row">
				    		<%= image_pack_tag 'marketing.png', style:"padding:0px 80px" %>
				    	</div>
				    </div>

				    <div class="col-sm-3">
				    	<div class="row text-center">
				    		<p class="text-center fs-3">Property <br> Valuation</p>
				    	</div>
				    	<div class="row">
				    		<%= image_pack_tag 'property.png', style:"padding:0px 80px" %>
				    	</div>
				    </div>

				    <div class="col-sm-3">
				    	<div class="row text-center fs-3">
				    		<p class="text-center">Feasibility <br> Studies</p>
				    	</div>
				    	<div class="row">
				    		<%= image_pack_tag 'studies.png', style:"padding:0px 80px" %>
				    	</div>
				    </div>

				    <div class="col-sm-3">
				    	<div class="row text-center fs-3">
				    		<p class="text-center">Corporate <br> Partnerships</p>
				    	</div>
				    	<div class="row">
				    		<%= image_pack_tag 'corporate.png', style:"padding:0px 80px" %>
				    	</div>
				    </div>

				  </div>
				</div>
				<br><br>
	        	<p class="card-text fs-5">Join our existing client base which includes clients and partners from the U.K, Cyprus, Hungary, Italy and Slovakia.</p>

	        <p class="card-text" style="text-align:end;"><small class="text-muted fs-4">Sun Dance Services</small></p>
	      </div>
	    </div>
	  </div>
	</div>

</div>