<%= image_pack_tag 'products/image3.jpg', style:"max-height:340px" %>

<div class="mycontainer" style="padding-left: 300px; padding-right: 300px;">
	<br>

	<div id="carouselExampleDark1" class="carousel carousel-light slide" data-bs-interval="false">

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">



			<div class="carousel-item active col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image4.jpeg', style:"width:100%; height:300px;" %>
						</div>
						<div class="col-sm-7" style="padding:0px 20px;">
							<p class="fs-2">Marketing Consultancy</p>
							<p class="fs-4" style="text-align: justify;">Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
							Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image5.jpeg', style:"width:100%; height:300px;" %>
						</div>
						<div class="col-sm-7" style="padding:0px 20px;">
							<p class="fs-2">Marketing Consultancy</p>
							<p class="fs-4" style="text-align: justify;">Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
							Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image6.jpeg', style:"width:100%; height:300px;" %>
						</div>
						<div class="col-sm-7" style="padding:0px 20px;">
							<p class="fs-2">Marketing Consultancy</p>
							<p class="fs-4" style="text-align: justify;">Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
							Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>



		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>















	<div id="carouselExampleDark2" class="carousel carousel-light slide" data-bs-interval="false">

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">



			<div class="carousel-item active col">
				<div class="container text-white">
					<div class="row">
						
						<div class="col-sm-7" style="padding:0px 20px;">
							<p class="fs-2">Property Valuation</p>
							<p class="fs-4" style="text-align: justify;">Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
							Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
						</div>
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image7.jpeg', style:"width:100%; height:300px;" %>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						
						<div class="col-sm-7" style="padding:0px 20px;">
							<p class="fs-2">Property Valuation</p>
							<p class="fs-4" style="text-align: justify;">Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
							Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
						</div>
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image8.jpeg', style:"width:100%; height:300px;" %>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						
						<div class="col-sm-7" style="padding:0px 20px;">
							<p class="fs-2">Property Valuation</p>
							<p class="fs-4" style="text-align: justify;">Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
							Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
						</div>
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image9.jpeg', style:"width:100%; height:300px;" %>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>



		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

















	<div id="carouselExampleDark3" class="carousel carousel-light slide" data-bs-interval="false">

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark3" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark3" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">



			<div class="carousel-item active col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image4.jpeg', style:"width:100%; height:300px;" %>
						</div>
						<div class="col-sm-7" style="padding:0px 20px;">
							<p class="fs-2">Feasibility Studies</p>
							<p class="fs-4" style="text-align: justify;">Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
							Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image4.jpeg', style:"width:100%; height:300px;" %>
						</div>
						<div class="col-sm-7" style="padding:0px 20px;">
							<p class="fs-2">Feasibility Studies</p>
							<p class="fs-4" style="text-align: justify;">Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
							Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image4.jpeg', style:"width:100%; height:300px;" %>
						</div>
						<div class="col-sm-7" style="padding:0px 20px;">
							<p class="fs-2">Feasibility Studies</p>
							<p class="fs-4" style="text-align: justify;">Sun Dance Services Ltd was formed with a vision of values and innovation in today's fast growing economy. Successfully delivering change in your organisation and planning for the future.
							Sun Dance Services provides a skill set backed up by decades of joint experience in our field and focus on the best solution for our clients.</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>



		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>